@import "variables";
@import "globals";

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin button-hover {
  background-color: $white-color;
  color: $base-color;
  border: rem(2) solid $base-color;
}
@mixin img-parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}